# Ignore Drupal core files that shouldn't be in version control
/core
/vendor
/sites/default/files
/sites/default/private
/sites/default/settings.local.php

# Ignore DDEV-specific files
.ddev/db_snapshots
.ddev/homeadditions
.ddev/nfsmount
.ddev/xdebug
.ddev/session

# Ignore system files
.idea/
*.DS_Store
*.log
*.swp
*.swo
node_modules/
.env
.envrc

# Ignore Composer and Drush caches
/var
/web/sites/default/files/*
/web/sites/default/settings.php
/autoload.php
composer.lock
